@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url(/1920x1080.jpg);
    display: flex;
    justify-content: center;
    margin-top: 13rem;
}

.todo-add-container{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 1rem;
    width: 30rem;
}

p{
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}

.todo-add-container{
    gap: 20px;
    width: 28rem;
}

input[type=text]{
    height: 3rem;
    padding: 10px;
    font-size: 15px;
    border: 3px solid black;
    border-radius: 10px;
}

.todo-add{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.todo-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    flex: 1;
    width: 100%;
}

.hide{
    display: none;
}

.todo-list h3{
    flex: 1;
}

.add{
    height: 100%;
    border: 3px solid rgb(50, 0, 143);
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    width: 5rem;
    padding: 5px;
    transition: 0.5s;
}

.excluir{
    height: 2.5rem;
    border: 3px solid rgb(155, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    width: 5rem;
    background-color: transparent;
    transition: 0.5s;
}

.excluir:hover{
    background-color: rgb(155, 0, 0);
    color: white;
}

.add:hover{
    background-color: rgb(50, 0, 143);
    color: white;
}